<!-- loader END -->
<aside class="sidebar sidebar-default navs-rounded ">
    <div class="sidebar-header d-flex align-items-center justify-content-start">
        <a href="../index.html" class="navbar-brand dis-none align-items-center">
            <img src="../assets/images/logo.svg" class="img-fluid " alt="logo">
            <h4 class="logo-title m-0">OINEX</h4>
        </a>
        <div class="sidebar-toggle" data-toggle="sidebar" data-active="true">
            <i class="icon">
                <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.25 12.2744L19.25 12.2744" stroke="currentColor" stroke-width="1.5"></path>
                    <path d="M10.2998 18.2988L4.2498 12.2748L10.2998 6.24976" stroke="currentColor" stroke-width="1.5">
                    </path>
                </svg>
            </i>
        </div>
    </div>
    <div class="sidebar-body p-0 data-scrollbar">
        <div class="navbar-collapse pe-3" id="sidebar">
            <ul class="navbar-nav iq-main-menu">
                <li class="nav-item ">
                    <a class="nav-link " aria-current="page" href="/exchange">
                        <i class="icon">
                            <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9.14373 20.7821V17.7152C9.14372 16.9381 9.77567 16.3067 10.5584 16.3018H13.4326C14.2189 16.3018 14.8563 16.9346 14.8563 17.7152V20.7732C14.8562 21.4473 15.404 21.9951 16.0829 22H18.0438C18.9596 22.0023 19.8388 21.6428 20.4872 21.0007C21.1356 20.3586 21.5 19.4868 21.5 18.5775V9.86585C21.5 9.13139 21.1721 8.43471 20.6046 7.9635L13.943 2.67427C12.7785 1.74912 11.1154 1.77901 9.98539 2.74538L3.46701 7.9635C2.87274 8.42082 2.51755 9.11956 2.5 9.86585V18.5686C2.5 20.4637 4.04738 22 5.95617 22H7.87229C8.19917 22.0023 8.51349 21.8751 8.74547 21.6464C8.97746 21.4178 9.10793 21.1067 9.10792 20.7821H9.14373Z"
                                    fill="currentColor"></path>
                            </svg>
                        </i>
                        <span class="item-name">داشبورد</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="/exchange/wallets" role="button"
                        aria-expanded="false" aria-controls="sidebar-special">
                        <i class="icon">
                            <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.4"
                                    d="M2 11.0786C2.05 13.4166 2.19 17.4156 2.21 17.8566C2.281 18.7996 2.642 19.7526 3.204 20.4246C3.986 21.3676 4.949 21.7886 6.292 21.7886C8.148 21.7986 10.194 21.7986 12.181 21.7986C14.176 21.7986 16.112 21.7986 17.747 21.7886C19.071 21.7886 20.064 21.3566 20.836 20.4246C21.398 19.7526 21.759 18.7896 21.81 17.8566C21.83 17.4856 21.93 13.1446 21.99 11.0786H2Z"
                                    fill="currentColor"></path>
                                <path
                                    d="M11.2451 15.3843V16.6783C11.2451 17.0923 11.5811 17.4283 11.9951 17.4283C12.4091 17.4283 12.7451 17.0923 12.7451 16.6783V15.3843C12.7451 14.9703 12.4091 14.6343 11.9951 14.6343C11.5811 14.6343 11.2451 14.9703 11.2451 15.3843Z"
                                    fill="currentColor"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.211 14.5565C10.111 14.9195 9.762 15.1515 9.384 15.1015C6.833 14.7455 4.395 13.8405 2.337 12.4815C2.126 12.3435 2 12.1075 2 11.8555V8.38949C2 6.28949 3.712 4.58149 5.817 4.58149H7.784C7.972 3.12949 9.202 2.00049 10.704 2.00049H13.286C14.787 2.00049 16.018 3.12949 16.206 4.58149H18.183C20.282 4.58149 21.99 6.28949 21.99 8.38949V11.8555C21.99 12.1075 21.863 12.3425 21.654 12.4815C19.592 13.8465 17.144 14.7555 14.576 15.1105C14.541 15.1155 14.507 15.1175 14.473 15.1175C14.134 15.1175 13.831 14.8885 13.746 14.5525C13.544 13.7565 12.821 13.1995 11.99 13.1995C11.148 13.1995 10.433 13.7445 10.211 14.5565ZM13.286 3.50049H10.704C10.031 3.50049 9.469 3.96049 9.301 4.58149H14.688C14.52 3.96049 13.958 3.50049 13.286 3.50049Z"
                                    fill="currentColor">
                                </path>
                            </svg>
                        </i>
                        <span class="item-name">کیف های من</span>

                    </a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="/exchange/profile" role="button"
                        aria-expanded="false" aria-controls="sidebar-user">
                        {{!-- <i class="icon">
                            <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.997 15.1746C7.684 15.1746 4 15.8546 4 18.5746C4 21.2956 7.661 21.9996 11.997 21.9996C16.31 21.9996 19.994 21.3206 19.994 18.5996C19.994 15.8786 16.334 15.1746 11.997 15.1746Z"
                                    fill="currentColor"></path>
                                <path opacity="0.4"
                                    d="M11.9971 12.5838C14.9351 12.5838 17.2891 10.2288 17.2891 7.29176C17.2891 4.35476 14.9351 1.99976 11.9971 1.99976C9.06008 1.99976 6.70508 4.35476 6.70508 7.29176C6.70508 10.2288 9.06008 12.5838 11.9971 12.5838Z"
                                    fill="currentColor"></path>
                            </svg>
                        </i>
                        <span class="item-name">کاربری</span> --}}

                    </a>

            </ul>
        </div>

    </div>
</aside>
<main class="main-content">
    <div class="position-relative">
        <!--Nav Start-->
        <nav class="nav navbar navbar-expand-lg navbar-light iq-navbar border-bottom pb-lg-3  pt-lg-3 ">
            <div class="container-fluid navbar-inner">
                <a href="../index.html" class="navbar-brand">
                </a>
                <div class="sidebar-toggle" data-toggle="sidebar" data-active="true">
                    <i class="icon">
                        <svg width="20px" height="20px" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" />
                        </svg>
                    </i>
                </div>
                <h4 class="title">
                    سلام {{user.payload.lastName}} {{user.payload.firstName}}
                </h4>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto navbar-list mb-2 mb-lg-0 align-items-center">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link" id="search-drop" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                                        transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                                    <path
                                        d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                        fill="currentColor"></path>
                                </svg>
                            </a>
                            <ul class="p-0 sub-drop dropdown-menu dropdown-menu-end" aria-labelledby="search-drop">
                                <li class="">
                                    <div class="p-3 card-header justify-content-between border-bottom rounded-top">
                                        <div class="header-title">
                                            <div class="iq-search-bar device-search  position-relative">
                                                <form action="#" class="searchbox">
                                                    <input type="text" class="text search-input form-control"
                                                        placeholder="Search here...">
                                                    <a class="d-lg-none d-flex" href="javascript:void(0);">
                                                        <span class="material-symbols-outlined">search</span>
                                                    </a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-0 card-body all-notification">
                                        <div class="d-flex align-items-center border-bottom search-hover py-2 px-3">
                                            <div class="flex-shrink-0">
                                                <img src="../assets/images/avatars/01.png"
                                                    class="align-self-center img-fluid avatar-50 rounded-pill" alt="#">
                                            </div>
                                            <div class="d-flex flex-column ms-3 w-100">
                                                <a href="javascript:void(0);" class="h6 mb-1">Paige Turner</a>
                                                <small>Paige001</small>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center border-bottom search-hover py-2 px-3">
                                            <div class="flex-shrink-0">
                                                <img src="../assets/images/avatars/02.png"
                                                    class="align-self-center img-fluid avatar-50 rounded-pill" alt="#">
                                            </div>
                                            <div class="d-flex flex-column ms-3 w-100">
                                                <a href="javascript:void(0);" class="h6 mb-1">Monty Carlo</a>
                                                <small>Carlo.m</small>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center search-hover py-2 px-3 border-bottom">
                                            <div class="flex-shrink-0">
                                                <img src="../assets/images/avatars/03.png"
                                                    class="align-self-center img-fluid avatar-50 rounded-pill" alt="#">
                                            </div>
                                            <div class="d-flex flex-column ms-3 w-100">
                                                <a href="javascript:void(0);" class="h6 mb-1">Paul Molive</a>
                                                <small>Paul.45</small>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center border-bottom search-hover py-2 px-3">
                                            <div class="flex-shrink-0">
                                                <img src="../assets/images/avatars/04.png"
                                                    class="align-self-center img-fluid avatar-50 rounded-pill" alt="#">
                                            </div>
                                            <div class="d-flex flex-column ms-3 w-100">
                                                <a href="javascript:void(0);" class="h6 mb-1">Monty Carlo</a>
                                                <small>Carlo.m</small>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link" id="notification-drop" data-bs-toggle="dropdown">
                                <svg width="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12 17.8476C17.6392 17.8476 20.2481 17.1242 20.5 14.2205C20.5 11.3188 18.6812 11.5054 18.6812 7.94511C18.6812 5.16414 16.0452 2 12 2C7.95477 2 5.31885 5.16414 5.31885 7.94511C5.31885 11.5054 3.5 11.3188 3.5 14.2205C3.75295 17.1352 6.36177 17.8476 12 17.8476Z"
                                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                    <path d="M14.3889 20.8572C13.0247 22.3719 10.8967 22.3899 9.51953 20.8572"
                                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                                <span class="bg-danger dots"></span>
                            </a>
                            <div class="sub-drop dropdown-menu iq-noti dropdown-menu-end p-0"
                                aria-labelledby="notification-drop">
                                <div class="card shadow-none m-0 bg-transparent">
                                    <div class="card-header d-flex justify-content-between">
                                        <div class="header-title">
                                            <p class="fs-6 ">New notifications.</p>
                                        </div>
                                        <div class="header-title">
                                            <p class="fs-6">Mark all</p>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <a href="#" class="iq-sub-card">
                                            <div class="d-flex">
                                                <img src="../assets/images/utilities/05.png"
                                                    class="img-fluid avatar avatar-30 avatar-rounded" alt="img51">
                                                <div class="ms-3 w-100">
                                                    <h6 class="mb-0 ">Successfull transaction og 0.01 BTC</h6>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="mb-0">15 mins ago</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="iq-sub-card">
                                            <div class="d-flex align-items-center">
                                                <div class="">
                                                    <img src="../assets/images/utilities/03.png"
                                                        class="img-fluid avatar avatar-30 avatar-rounded" alt="img52">
                                                </div>
                                                <div class="ms-3 w-100">
                                                    <h6 class="mb-0 ">4 of Pending Transactions!</h6>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="mb-0">30 mins ago</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="iq-sub-card">
                                            <div class="d-flex align-items-center">
                                                <img src="../assets/images/utilities/04.png"
                                                    class="img-fluid avatar avatar-30 avatar-rounded" alt="img53">
                                                <div class="ms-3 w-100">
                                                    <h6 class="mb-0 ">Cancelled order of 2000 ICO</h6>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="mb-0">55 mins ago</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="iq-sub-card">
                                            <div class="d-flex align-items-center">
                                                <img src="../assets/images/utilities/05.png"
                                                    class="img-fluid avatar avatar-30 avatar-rounded" alt="img54">
                                                <div class="w-100 ms-3">
                                                    <h6 class="mb-0 ">Great speed notify of 1.34 LTC</h6>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="mb-0">14 Mar</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link" id="mail-drop" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <svg width="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M17.9028 8.85107L13.4596 12.4641C12.6201 13.1301 11.4389 13.1301 10.5994 12.4641L6.11865 8.85107"
                                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M16.9089 21C19.9502 21.0084 22 18.5095 22 15.4384V8.57001C22 5.49883 19.9502 3 16.9089 3H7.09114C4.04979 3 2 5.49883 2 8.57001V15.4384C2 18.5095 4.04979 21.0084 7.09114 21H16.9089Z"
                                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                                <span class="bg-primary count-mail"></span>
                            </a>
                            <div class="sub-drop dropdown-menu dropdown-menu-end p-0" aria-labelledby="mail-drop">
                                <div class="card shadow-none m-0 bg-transparent">
                                    <div class="card-header d-flex justify-content-between py-3">
                                        <div class="header-title">
                                            <p class="mb-0 text-white">Our Latest News</p>
                                        </div>
                                    </div>
                                    <div class="card-body p-0 ">
                                        <a href="#" class="iq-sub-card">
                                            <div class="d-flex ">
                                                <div class="">
                                                    <img src="../assets/images/coins/02.png"
                                                        class="img-fluid avatar avatar-50 avatar-rounded" alt="img55">
                                                </div>
                                                <div class=" w-100 ms-3">
                                                    <h6 class="mb-0 ">Bitcoin</h6>
                                                    <small class="float-left font-size-12">Lorem Ipsum is simply dummy
                                                        text of the printing and typesetting industry. </small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="iq-sub-card">
                                            <div class="d-flex">
                                                <div class="">
                                                    <img src="../assets/images/coins/03.png"
                                                        class="img-fluid avatar avatar-50 avatar-rounded" alt="img56">
                                                </div>
                                                <div class="ms-3">
                                                    <h6 class="mb-0 ">Ethereum</h6>
                                                    <small class="float-left font-size-12">Lorem Ipsum is simply dummy
                                                        text of the printing and typesetting industry. </small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="iq-sub-card">
                                            <div class="d-flex">
                                                <div class="">
                                                    <img src="../assets/images/coins/06.png"
                                                        class="img-fluid avatar avatar-50 avatar-rounded" alt="img57">
                                                </div>
                                                <div class="ms-3">
                                                    <h6 class="mb-0 ">Litecoin</h6>
                                                    <small class="float-left font-size-12">Lorem Ipsum is simply dummy
                                                        text of the printing and typesetting industry.</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link py-0 d-flex align-items-center" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="../assets/images/avatars/01.png" alt="User-Profile"
                                    class="img-fluid avatar avatar-50 avatar-rounded">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li class="border-0"><a class="dropdown-item"
                                        href="../app/user-profile.html">Profile</a></li>
                                <li class="border-0"><a class="dropdown-item"
                                        href="../app/user-privacy-setting.html">Privacy Setting</a></li>
                                <li class="border-0">
                                    <hr class="m-0 dropdown-divider">
                                </li>
                                <li class="border-0"><a class="dropdown-item" href="../auth/sign-in.html">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> <!--Nav End-->
    </div>
    <div class="container-fluid content-inner pb-0">
        <div class="row">
            {{!-- <div id="tradingview_widget" style="width: 100%; height: 400px;"></div> --}}
            <div class="container py-5">
                <div class="row g-4">
                    {{> messages/index}}
                    <!-- Green Box -->
                    <div class="col-md-6">
                        <div class="box-green p-3">
                            <h5 class="text-success">خرید تتر</h5>
                            <form action="/order/buy" method="POST">
                                <div class="mb-3">
                                    <label for="amountUsdt" class="form-label">مقدار (usdt)</label>
                                    <input type="number" name="amount" class="form-control" id="amountUsdt" required>
                                </div>
                                <input type="hidden" name="orderId" id="buyOrderId">
                                <div class="mb-3">
                                    <label for="unitPrice" class="form-label">قیمت واحد (تومان)</label>
                                    <input type="number" name="price" class="form-control" id="unitPrice" required>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="#" class="text-primary">انتخاب انتقال دارایی</a>
                                    <a href="#" class="text-primary">انتخاب</a>
                                </div>
                                <button type="submit" class="btn btn-success w-100">خرید</button>
                                <div class="mt-3">
                                    <div class="d-flex justify-content-between mb-2">
                                        <span>مبلغ کل:</span>
                                        <span id="totalAmount">0 تومان</span>
                                    </div>
                                    <div class="d-flex justify-content-between mb-2">
                                        <span>کارمزد:</span>
                                        <span id="feeAmount">0 usdt</span>
                                    </div>
                                    <div class="d-flex justify-content-between fw-bold">
                                        <span>دریافتی شما:</span>
                                        <span id="finalAmount">0 تومان</span>
                                    </div>
                                       <div class="d-flex justify-content-between fw-bold">
                                        <span>بالاترین پیشنهاد خرید:</span>
                                        <span>{{formatNumber highestBuyPrice}}</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Red Box -->
                    <div class="col-md-6">
                        <div class="box-red p-3">
                            <h5 class="text-danger">فروش تتر</h5>
                            <form action="/order/sell" method="POST">
                                <div class="mb-3">
                                    <label for="sellAmountUsdt" class="form-label">مقدار (usdt)</label>
                                    <input type="number" name="amount" class="form-control" id="sellAmountUsdt"
                                        required>
                                </div>
                                <input type="hidden" name="orderId" id="sellOrderId">
                                <div class="mb-3">
                                    <label for="sellUnitPrice" class="form-label">قیمت واحد (تومان)</label>
                                    <input type="number" name="price" class="form-control" id="sellUnitPrice" required>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="#" class="text-primary">انتخاب انتقال دارایی</a>
                                    <a href="#" class="text-primary">انتخاب</a>
                                </div>
                                <button type="submit" class="btn btn-danger w-100">فروش</button>
                                <div class="mt-3">
                                    <div class="d-flex justify-content-between mb-2">
                                        <span>درخواست فروش شما:</span>
                                        <span id="usdtCount">0 USDT</span>
                                    </div>
                                    <div class="d-flex justify-content-between mb-2">
                                        <span>مبلغ کل:</span>
                                        <span id="sellTotalAmount">0 تومان</span>
                                    </div>
                                    <div class="d-flex justify-content-between mb-2">
                                        <span>کارمزد:</span>
                                        <span id="sellFeeAmount">0 usdt</span>
                                    </div>
                                    <div class="d-flex justify-content-between fw-bold">
                                        <span>دریافتی شما:</span>
                                        <span id="sellFinalAmount">0 تومان</span>
                                    </div>
                                    <div class="d-flex justify-content-between fw-bold"></div>
                                        <span>پایین‌ترین پیشنهاد فروش:</span>
                                        <span>{{formatNumber lowestSellOrder}}</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container py-5">
                <div class="row g-4">
                    <div class="col-md-6">
                        <div class="card bg-success bg-opacity-10">
                            <div class="card-header bg-success text-white">
                                <h3>پیشنهادهای خرید</h3>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            
                                            <th>قیمت (تومان)</th>
                                            <th>مقدار (USDT)</th>
                                            <th>مبلغ کل (تومان)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#if buyOrders.length}}
                                        {{#each buyOrders}}
                                        <tr class="buy-row" data-price="{{price}}" data-amount="{{amountRemaining}}"
                                            data-id="{{_id}}" style="cursor: pointer;">
                                            <td>{{formatNumber price}}</td>
                                            <td>{{formatNumber amountRemaining}}</td>
                                            <td>{{formatNumber totalAmount}}</td>
                                        </tr>
                                        {{/each}}
                                        {{else}}
                                        <tr>
                                            <td colspan="3" class="text-center">پیشنهاد خریدی موجود نیست</td>
                                        </tr>
                                        {{/if}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card bg-danger bg-opacity-10">
                            <div class="card-header bg-danger text-white">
                                <h3>پیشنهادهای فروش</h3>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>قیمت (تومان)</th>
                                            <th>مقدار (USDT)</th>
                                            <th>مبلغ کل (تومان)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#if sellOrders.length}}
                                        {{#each sellOrders}}
                                        <tr class="sell-row" data-price="{{price}}" data-amount="{{amountRemaining}}"
                                            data-id="{{_id}}"   style="cursor: pointer;"> 
                                            <td>{{formatNumber price}}</td>
                                            <td>{{formatNumber amountRemaining}}</td>
                                            <td>{{formatNumber totalAmount}}</td>
                                        </tr>
                                        {{/each}}
                                        {{else}}
                                        <tr>
                                            <td colspan="3" class="text-center">پیشنهاد فروشی موجود نیست</td>
                                        </tr>
                                        {{/if}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="container py-5">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header bg-primary text-white">
                                <h3>تاریخچه معاملات</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>نوع</th>
                                            <th>مقدار (USDT)</th>
                                            <th>قیمت (تومان)</th>
                                            <th>مبلغ کل (تومان)</th>
                                            <th>وضعیت</th>
                                            <th>تاریخ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#if Transactions}}
                                            {{#each Transactions}}
                                            <tr>
                                                <td>
                                                    <span class="badge {{#if (eq type 'buy')}}bg-success{{else}}bg-danger{{/if}}">
                                                        {{#if (eq type 'buy')}}خرید{{else}}فروش{{/if}}
                                                    </span>
                                                </td>
                                                <td>{{formatNumber amount}}</td>
                                                <td>{{formatNumber price}}</td>
                                                <td>{{formatNumber totalAmount}}</td>
                                                <td>
                                                    <span class="badge {{#if (eq status 'completed')}}bg-success{{else}}bg-warning{{/if}}">
                                                        {{#if (eq status 'completed')}}تکمیل شده{{else}}در انتظار{{/if}}
                                                    </span>
                                                </td>
                                                <td>{{formatDate createdAt}}</td>
                                            </tr>
                                            {{/each}}
                                        {{else}}
                                            <tr>
                                                <td colspan="6" class="text-center">تراکنشی یافت نشد</td>
                                            </tr>
                                        {{/if}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-body gap-2">
            <ul class="left-panel list-inline mb-0 p-0">
                <li class="list-inline-item me-2"><a href="../extra/privacy-policy.html" class="text-white">Privacy
                        Policy</a></li>
                <li class="list-inline-item"><a href="../extra/terms-of-service.html" class="text-white">Terms of
                        Use</a></li>
            </ul>
            <div class="right-panel text-center">
                ©
                <script>document.write(new Date().getFullYear())</script> COINEX, Made with
                <span class="text-gray">
                    <svg width="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M15.85 2.50065C16.481 2.50065 17.111 2.58965 17.71 2.79065C21.401 3.99065 22.731 8.04065 21.62 11.5806C20.99 13.3896 19.96 15.0406 18.611 16.3896C16.68 18.2596 14.561 19.9196 12.28 21.3496L12.03 21.5006L11.77 21.3396C9.48102 19.9196 7.35002 18.2596 5.40102 16.3796C4.06102 15.0306 3.03002 13.3896 2.39002 11.5806C1.26002 8.04065 2.59002 3.99065 6.32102 2.76965C6.61102 2.66965 6.91002 2.59965 7.21002 2.56065H7.33002C7.61102 2.51965 7.89002 2.50065 8.17002 2.50065H8.28002C8.91002 2.51965 9.52002 2.62965 10.111 2.83065H10.17C10.21 2.84965 10.24 2.87065 10.26 2.88965C10.481 2.96065 10.69 3.04065 10.89 3.15065L11.27 3.32065C11.3618 3.36962 11.4649 3.44445 11.554 3.50912C11.6104 3.55009 11.6612 3.58699 11.7 3.61065C11.7163 3.62028 11.7329 3.62996 11.7496 3.63972C11.8354 3.68977 11.9247 3.74191 12 3.79965C13.111 2.95065 14.46 2.49065 15.85 2.50065ZM18.51 9.70065C18.92 9.68965 19.27 9.36065 19.3 8.93965V8.82065C19.33 7.41965 18.481 6.15065 17.19 5.66065C16.78 5.51965 16.33 5.74065 16.18 6.16065C16.04 6.58065 16.26 7.04065 16.68 7.18965C17.321 7.42965 17.75 8.06065 17.75 8.75965V8.79065C17.731 9.01965 17.8 9.24065 17.94 9.41065C18.08 9.58065 18.29 9.67965 18.51 9.70065Z"
                            fill="currentColor"></path>
                    </svg>
                </span> by <a href="https://iqonic.design/" target="_blank">IQONIC Design</a>.
            </div>
        </div>
    </footer>
</main>
<script>
    // محاسبات برای فرم خرید
    function calculateBuyTotals() {
        const amountInput = document.getElementById('amountUsdt');
        const priceInput = document.getElementById('unitPrice');

        const amount = parseFloat(amountInput.value) || 0;
        const price = parseFloat(priceInput.value) || 0;

        const totalAmountElement = document.getElementById('totalAmount');
        const feeAmountElement = document.getElementById('feeAmount');
        const finalAmountElement = document.getElementById('finalAmount');

        if (price > 0) {
            const totalAmount = amount * price;
            const feeUsdt = amount * 0.0025;
            const finalAmountUsdt = amount - feeUsdt;

            totalAmountElement.textContent = new Intl.NumberFormat('fa-IR').format(totalAmount) + ' تومان';
            feeAmountElement.textContent = feeUsdt.toFixed(2) + ' USDT';
            finalAmountElement.textContent = finalAmountUsdt.toFixed(2) + ' USDT';
        } else {
            totalAmountElement.textContent = '-';
            feeAmountElement.textContent = '-';
            finalAmountElement.textContent = '-';
        }
    }

    // محاسبات برای فرم فروش
    function calculateSellTotals() {
        const amountInput = document.getElementById('sellAmountUsdt');
        const priceInput = document.getElementById('sellUnitPrice');
        const usdtCountElement = document.getElementById('usdtCount');

        const amount = parseFloat(amountInput.value) || 0;
        const price = parseFloat(priceInput.value) || 0;

        usdtCountElement.textContent = amount.toFixed(2) + ' USDT';

        const totalAmountElement = document.getElementById('sellTotalAmount');
        const feeAmountElement = document.getElementById('sellFeeAmount');
        const finalAmountElement = document.getElementById('sellFinalAmount');

        if (price > 0) {
            const totalAmount = amount * price;
            const feeAmount = totalAmount * 0.0025;
            const finalAmount = totalAmount - feeAmount;

            totalAmountElement.textContent = new Intl.NumberFormat('fa-IR').format(totalAmount) + ' تومان';
            feeAmountElement.textContent = new Intl.NumberFormat('fa-IR').format(feeAmount) + ' تومان';
            finalAmountElement.textContent = new Intl.NumberFormat('fa-IR').format(finalAmount) + ' تومان';
        } else {
            totalAmountElement.textContent = '-';
            feeAmountElement.textContent = '-';
            finalAmountElement.textContent = '-';
        }
    }
document.addEventListener('DOMContentLoaded', function() {
    // اضافه کردن event listener برای input های فرم خرید
    const buyAmountInput = document.getElementById('amountUsdt');
    const buyPriceInput = document.getElementById('unitPrice');
    
    if (buyAmountInput) {
        buyAmountInput.addEventListener('input', calculateBuyTotals);
    }
    if (buyPriceInput) {
        buyPriceInput.addEventListener('input', calculateBuyTotals);
    }

    // اضافه کردن event listener برای input های فرم فروش
    const sellAmountInput = document.getElementById('sellAmountUsdt');
    const sellPriceInput = document.getElementById('sellUnitPrice');
    
    if (sellAmountInput) {
        sellAmountInput.addEventListener('input', calculateSellTotals);
    }
    if (sellPriceInput) {
        sellPriceInput.addEventListener('input', calculateSellTotals);
    }
});
    document.addEventListener('DOMContentLoaded', function () {
        const sellRows = document.querySelectorAll('.sell-row');
        sellRows.forEach(row => {
            row.addEventListener('click', function() {
                const price = this.getAttribute('data-price');
                const amount = this.getAttribute('data-amount');
                const orderId = this.getAttribute('data-id');
                
                // پر کردن فرمخرید
                const amountInput = document.getElementById('amountUsdt');
                const priceInput = document.getElementById('unitPrice');
                
                amountInput.value = amount;
                priceInput.value = price;
                document.getElementById('buyOrderId').value = orderId;
                
                // فراخوانی دستی رویداد input برای محاسبه مجدد
                amountInput.dispatchEvent(new Event('input'));
                priceInput.dispatchEvent(new Event('input'));
            });
        });

        // برای کلیک روی ردیف‌های خرید
        const buyRows = document.querySelectorAll('.buy-row');
        buyRows.forEach(row => {
            row.addEventListener('click', function() {
                const price = this.getAttribute('data-price');
                const amount = this.getAttribute('data-amount');
                const orderId = this.getAttribute('data-id');
                
                // پر کردن فرم فروش
                const sellAmountInput = document.getElementById('sellAmountUsdt');
                const sellPriceInput = document.getElementById('sellUnitPrice');
                
                sellAmountInput.value = amount;
                sellPriceInput.value = price;
                document.getElementById('sellOrderId').value = orderId;
                
                // فراخوانی دستی رویداد input برای محاسبه مجدد
                sellAmountInput.dispatchEvent(new Event('input'));
                sellPriceInput.dispatchEvent(new Event('input'));
            });
        });

        // محاسبات اولیه برای نمایش مقادیر پیش‌فرض
        calculateBuyTotals();
        calculateSellTotals();
    });

    // اضافه کردن event listener برای فرم‌ها
    document.getElementById('buyForm').addEventListener('submit', function(e) {
        console.log('Buy form submitted with orderId:', document.getElementById('BuyOrderId').value);
    });

    document.getElementById('sellForm').addEventListener('submit', function(e) {
        console.log('Sell form submitted with orderId:', document.getElementById('sellOrderId').value);
    });
</script>


<style>
    .ask-row:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .buy-row:hover {
        background-color: rgba(25, 135, 84, 0.1);
    }

    .sell-row:hover {
        background-color: rgba(220, 53, 69, 0.1);
    }

    .table {
        margin-bottom: 0;
    }

    .card {
        border-radius: 10px;
        overflow: hidden;
    }

    .card-header {
        border-bottom: 0;
    }

    .table th {
        font-weight: 600;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }

    .table td {
        vertical-align: middle;
    }
</style>